<!--底部开始-->
<footer class="footer container-fluid">
    <div class="container">
        <div class="footer_left">
            <img class="kefu" src="/images/common/kefu.png" alt="客服" />
            <div>
                <p>售前咨询热线</p>
                <p>13346157195</p>
                <a href="http://wpa.qq.com/msgrd?v=1&uin=2034211391&site=qq&menu=yes" target="_blank" rel="nofollow"><img src="/images/common/qq_img.png" alt="QQ咨询图标" /></a>
            </div>
        </div>
        <div class="footer_right">
            <dl>
                <dt>产品</dt>
                <dd><a href="/weifenxiao.html">微信分销</a></dd>
                <dd><a href="/xiaochengxu.html">小程序</a></dd>
                <dd><a href="/bigdata.html">大数据</a></dd>
                <dd><a href="/dingzhi.html">定制服务</a></dd>
            </dl>
            <dl>
                <dt>服务</dt>
                <dd><a href="../service/keHuFuWu.html">客户服务</a></dd>
                <dd><a href="../service/zhiFuFangShi.html">支付方式</a></dd>
                <dd><a href="../channel/channel.html">渠道</a></dd>
                <dd><a href="/successcase.html">案例</a></dd>
            </dl>
            <dl>
                <dt>方案</dt>
                <!--dd><a href="../solution/quanWangYingXiao.html">全网营销</a></dd-->
                <dd><a href="/quanqudaofenxiao.html">全渠道移动分销</a></dd>
            </dl>
            <dl>
                <dt>关于</dt>
                <dd><a href="/aboutus.html" rel="nofollow">公司简介</a></dd>
                <dd><a href="../about/jobOffers.html" rel="nofollow">工作机会</a></dd>
                <dd><a href="/contactus.html" rel="nofollow">联系我们</a></dd>
            </dl>
        </div>
    </div>
    <div class="copyRight">版权所有：杭州千盟网络科技有限公司</div>
</footer>
<!--底部结束-->
<!--右侧功能条开始-->
<ul class="rightNav">
    <a href="javascript:void(0)" onclick="openZoosUrl('chatwin','&e=foot');return false;" target="_self" rel="nofollow">
        <li>
            <img src="/images/common/right_sevice.png" alt="在线咨询" />
            <span>在线咨询</span>
        </li>
    </a>
    <li>
        <img src="/images/common/right_qq.png" alt="技术支持" />
        <span>技术服务</span>
        <div class="rightNav_left">
            <a href="http://wpa.qq.com/msgrd?v=1&uin=12&site=qq&menu=yes" target="_blank" rel="nofollow">
                <img src="/images/common/qq_icon.png" alt="微客到-道易" />
                <span>微客到-道易</span>
            </a>
            <a href="http://wpa.qq.com/msgrd?v=1&uin=123&site=qq&menu=yes" target="_blank" rel="nofollow">
                <img src="/images/common/qq_icon.png" alt="微客到-千萌" />
                <span>微客到-千萌</span>
            </a>
        </div>
    </li>
    <a target="_blank" href="http://regadm.wkdao.com/reg.html?sid=0&pid=0" rel="nofollow">
        <li>
            <img src="/images/common/xcxpro.png" alt="免费使用" />
            <span>免费使用</span>
        </li>
    </a>
    <li class="lastnav">
        <img src="/images/common/right_qr.png" alt="二维码" />
        <span>二维码</span>
        <div class="rightNav_left right_qr">
            <img src="/images/index/weixing-ma.jpeg" alt="二维码" />
        </div>
    </li>
</ul>
<!--右侧功能条结束-->
<div class="backTop">
    <div class="backTopInner">

    </div>
</div>