<div class="container-fluid contactInfo clearfix">
    <div class="container">
        <ul class="pull-left clearfix">
            <li><a href="../service/keHuFuWu.html">售后服务</a>✦</li>
            <li><a href="../service/zhiFuFangShi.html">购买支付</a>✦</li>
            <li><a href="../channel/channel.html">渠道加盟</a></li>
        </ul>
        <ul class="pull-right">
            <li>
                <a target="_blank"  href="http://wpa.qq.com/msgrd?v=1&uin=2034211391&site=qq&menu=yes" rel="nofollow">
                    <i class="iconfont icon-qq"></i> QQ交谈
                </a>
            </li>
            <li>
                <a href="">
                    <i class="iconfont icon-iconfontdianhua5"></i>
                    致电：13346157195
                </a>
            </li>
        </ul>
    </div>
</div>
</html>