<div class="container">
    <nav class="navbar  navbar-fixed-top clearfix">
        <a class="navbar-brand pull-left" href="/">
            <img alt="logo" src="/images/common/wkd.jpeg">
        </a>
        <ul class="pull-right navs">
            <li class="active">
                <a class="nav_link" href="/">首页</a>
            </li>
            <li>
                <a class="nav_link" >
                    产品
                    <i class="iconfont icon-xiajiantou"></i>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/weifenxiao.html">微分销</a>
                        <div class="hover_div">
                            <div class="sanjiao"></div>
                            <p>基于微信平台，帮助企业快速打造以分销商、代理商、供货商、订货商等 模式的全新微信分销商城。</p>
                        </div>
                    </li>
                    <li>
                        <a href="/xiaochengxu.html">小程序</a>
                        <div class="hover_div">
                            <div class="sanjiao"></div>
                            <p>基于微信小程序，帮助企业快速搭建商城小程序、门店小程序、拼团小程 序以及官网小程序。</p>
                        </div>
                    </li>
                    <li>
                        <a href="/bigdata.html">大数据</a>
                        <div class="hover_div">
                            <div class="sanjiao"></div>
                            <p>快速搭建自的大数据平台，通过对大数据的分析对比，帮助企业做出正确的决策。</p>
                        </div>
                    </li>
                    <li>
                        <a href="/dingzhi.html">定制业务</a>
                        <div class="hover_div">
                            <div class="sanjiao"></div>
                            <p>针对客户个性化需求打造专属解决方案，应对行业、角色不同的业务功能需求。</p>
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <a class="nav_link">
                    服务
                    <i class="iconfont icon-xiajiantou"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="../service/keHuFuWu.html">客户服务</a></li>
                    <li><a href="../service/zhiFuFangShi.html">支付方式</a></li>
                </ul>
            </li>
            <li>
                <a class="nav_link" >
                    方案
                    <i class="iconfont icon-xiajiantou"></i>
                </a>
                <ul class="dropdown-menu">
                    <!--li><a href="../solution/quanWangYingXiao.html">全网营销</a></li-->
                    <li><a href="/quanqudaofenxiao.html">全渠道移动分销</a></li>
                </ul>
            </li>
            <li>
                <a class="nav_link" href="/successcase.html">案例
                </a>

            </li>
            <li>
                <a class="nav_link" href="../channel/channel.html">渠道
                </a>

            </li>
            <li>
                <a class="nav_link">
                    关于
                    <i class="iconfont icon-xiajiantou"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/about/company/">公司简介</a></li>
                    <li><a href="/about/jobs/">工作机会</a></li>
                    <li><a href="/contactus.html">联系我们</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>