<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>产品介绍</title>
    <meta name="Keywords" content="产品介绍"/>
    <meta name="Description" content="微客到,持续专注于为中小企业提供移动电商软件及相关增值服务产品,正式开启公司化运作,是国内较早且持续较久的电商软件及服务提供的领导品牌。"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/comm.css" />
    <link rel="stylesheet" href="/css/weiFenXiao.css" />
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.min.js"></script>
    <![endif]-->
    <!--[if lte IE 8]>
    <script src="/js/html5shiv.min.js"></script>
    <script src="/js/rem.min.js"></script>
    <![endif]-->
</head>
<body onselectstart="return false">
<th:block th:include="Common/header"></th:block>
<div class="container-fluid">
    <th:block th:include="Common/header-navigation"></th:block>
    <div class="container-fluid banner">
        <div class="container clearfix">
            <div class="innner">
                <h1><strong>微客到：</strong>一款带有微信小程序的SAAS <b>微信分销系统</b></h1>
                <p>微客到是千盟网络旗下一款带小程序的SaaS微信分销系统，帮助商家快速搭建微商城、
                    招募大量分销商，整合传统分销体系，快速帮助传统企业顺利转型，打造线上+线下相结合的商业模式，旨在帮商家快速卖货，迅速积累客户资源。
                </p>
            </div>
        </div>
    </div>
    <section>
        <div class="container-fluid whydofx">
            <div class="container">
                <h2>为什么要做微分销？</h2>
                <p>无分销 不微商</p>
                <ul class="whydofxLists clearfix">
                    <li>
                        <div class="inner">
                            <img src="/images/product/FullDistribution.png">
                            <h4>全员分销</h4>
                            <p>以客推客<br />迅速壮大业务团队</p>
                            <div>
                    </li>
                    <li>
                        <div class="inner">
                            <img src="/images/product/locking.png">
                            <h4>上下级锁定</h4>
                            <p>永久锁定上下级关系 <br />拿永久下线佣金</p>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <img  src="/images/product/Homologous.png">
                            <h4>万店同源</h4>
                            <p>下线关注，自动生成分店<br />一个总部微信商城有千万个子店铺</p>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <img src="/images/product/money.png">
                            <h4>佣金自动结算</h4>
                            <p>自动统计百万分销商分销<br />佣金。一键发放，轻松管<br />理</p>
                        </div>
                    </li>
                </ul>
                <button type="button" class="button"><a target="_blank" href="http://regadm.33.com/reg.html?sid=0&pid=0" rel="nofollow">申请免费体验</a></button>
            </div>
        </div>
    </section>
    <!--为什么要做微分销结束-->
    <!--微信分销 六大亮点开始-->
    <div class="container">
        <section class="DistributionHighlights">
            <h2>微信分销 <strong>六大亮点</strong></h2>
            <p class="desc">操作简单，全民分销</p>
            <ul>
                <li>
                    <a href="javascript:;">
                        <img class="item_Img" src="/images/product/DistributionHighlights1.jpg">
                        <div class="media-body">
                            <h3><strong>1.</strong>三级分佣，无限分销，一键开店</h3>
                            <p class="mui-ellipsis">关注公众号一键开店，可自定义小店名称，开启自定义分销时代！</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <img class="item_Img" src="/images/product/DistributionHighlights2.jpg">
                        <div class="media-body">
                            <h3><strong>2.</strong>如何推广宣传</h3>
                            <p class="mui-ellipsis">专属微信小店二维码，既能为自己推广，还能招募分销商团队状态一目了然。</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <img class="item_Img" src="/images/product/DistributionHighlights3.jpg">
                        <div class="media-body">
                            <h3><strong>3.</strong>自定义模块，DIY店铺装修</h3>
                            <p class="mui-ellipsis">迅速做出高大上，专属精美的分销商城；在线客服，员工分权系统；分销商佣金模式多样化、按需设置</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <img class="item_Img" src="/images/product/DistributionHighlights4.jpg">
                        <div class="media-body">
                            <h3><strong>4.</strong>内置推广页，分分钟打造爆款</h3>
                            <p class="mui-ellipsis">点击我要赚钱，分销轻松入门；
                                店铺内置二维码推广页，一键分享朋友圈，轻松打造爆款。</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <img class="item_Img" src="/images/product/DistributionHighlights5.jpg">
                        <div class="media-body">
                            <h3><strong>5.</strong>查看所有分销商业绩</h3>
                            <p class="mui-ellipsis">清楚查看自己的分销商团队和订单情况；<br />分销商佣金快速提现，自动打款到微信钱包</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <img class="item_Img" src="/images/product/DistributionHighlights6.jpg">
                        <div class="media-body">
                            <h3><strong>6.</strong>分销平台，订单和业绩一目了然</h3>
                            <p class="mui-ellipsis">订单统一收订，统一发货；分销商后台订单实时同步；分销数据一目了然</p>
                        </div>
                    </a>
                </li>
            </ul>
        </section>
    </div>
    <!--微信分销 六大亮点结束-->
    <!--微分销价值体现开始-->
    <section>
        <div class="container-fluid ValueEmbodiment">
            <div class="container">
                <h2>微分销价值体现</h2>
                <p>投入小，见效快</p>
                <img src="/images/product/wimg2.jpg" alt="微分销价值体现" />
                <a target="_blank" href="http://regadm.wkdao.com/reg.html?sid=0&pid=0" rel="nofollow"><button type="button" class="button">申请免费体验</button></a>
            </div>
        </div>
    </section>
    <!--微分销价值体现结束-->
    <!--分销商四大独有功能开始-->
    <section class="SellingFunction">
        <div class="container">
            <img class="title_img" src="/images/product/fxs01.jpg" alt="" />
            <div class="SellingFunctionContent">
                <ul>
                    <li>
                        <img class="img" src="/images/product/fxs02.jpg" alt="" />
                        <span class="desc_text">人性化的线下分销管理</span>
                    </li>
                    <li>
                        <span class="desc_text">齐全的分销订单管理系统</span>
                        <img class="img" src="/images/product/fxs03.jpg" alt="" />
                    </li>
                    <li>
                        <img class="img" src="/images/product/fxs04.jpg" alt="" />
                        <span class="desc_text">强大的佣金管理,可以自由提取</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!--分销商四大独有功能结束-->
    <!--20万家大客户的选择开始-->
    <section class="CustomerSelection">
        <h2>微分销，让企业快速进入移动分销时代</h2>
        <p>多端同步，无缝沟通，随时随地，省时省心</p>
        <div class="container">
            <ul>
                <li>
                    <h3>全球分红</h3>
                    <p>静态与动态分红相结合</p>
                    <button class="button" type="button">申请体验</button>
                </li>
                <li>
                    <h3>供应商</h3>
                    <p>完善的供应商体系</p>
                    <button class="button" type="button">申请体验</button>
                </li>
                <li>
                    <h3>团购</h3>
                    <p>吸粉拼团快速提升成交率</p>
                    <button class="button" type="button">申请体验</button>
                </li>
                <li>
                    <h3>限时抢购</h3>
                    <p>快速提升成单率</p>
                    <button class="button" type="button">申请体验</button>
                </li>
                <li>
                    <h3>APP商城</h3>
                    <p>随时随地，掌上生意</p>
                    <button class="button" type="button">申请体验</button>
                </li>
            </ul>
            <a href="javascript:void(0)" onclick="openZoosUrl('chatwin','&e=banben');return false;" target="_self" rel="nofollow"><button class="button doMore" type="button">更多版本功能</button></a>
        </div>
    </section>
    <!--20万家大客户的选择结束-->
    <!--20万家大客户的选择开始-->
    <section class="CustomerSelection2">
        <h2>20万家大客户的选择</h2>
        <p>品牌客户，顺势而为</p>
        <div class="container">
            <ul>
                <li>
                    <img src="/images/product/customs1.png" alt="" />
                </li>
                <li>
                    <img src="/images/product/customs2.png" alt="" />
                </li>
                <li>
                    <img src="/images/product/customs3.png" alt="" />
                </li>
                <li>
                    <img src="/images/product/customs4.png" alt="" />
                </li>
                <li>
                    <img src="/images/product/customs5.png" alt="" />
                </li>
                <li>
                    <img src="/images/product/customs6.png" alt="" />
                </li>
            </ul>

        </div>
    </section>
    <!--20万家大客户的选择结束-->
    <!--在线注册开始-->
    <section>
        <div class="registration">
            <a target="_blank" href="http://regadm.333.com/reg.html?sid=0&pid=0" rel="nofollow">
                <img src="/images/product/footer.png" alt="在线注册" />
            </a>
            <div class="container">
                <strong>全国统一咨询热线 ：13346157195</strong>
                <a target="_blank" href="http://regadm.33.com/reg.html?sid=0&pid=0" rel="nofollow"><button class="button" type="button ">点击注册</button></a>
            </div>
        </div>
    </section>
    <th:block th:include="Common/footer"></th:block>
</div>
<script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/js/comm.js"></script>
<!--弹窗-->
<script type="text/javascript" src="/js/swt.js"></script>
</body>
</html>