logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/bin/
*.bak
*.css
*.html
*.js
*.png
run*.sh
apidoc/*
*.zip
