<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>我们是微客到</title>
    <meta name="Keywords" content="微客到"/>
    <meta name="Description" content="微客到,持续专注于为中小企业提供移动电商软件及相关增值服务产品,正式开启公司化运作,是国内较早且持续较久的电商软件及服务提供的领导品牌。"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/comm.css" />
    <link rel="stylesheet" href="/css/companyProfile.css" />
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <!--[if lte IE 8]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="/js/rem.min.js"></script>
    <![endif]-->
</head>
<body onselectstart="return false">
<th:block th:include="Common/header"></th:block>
<div class="container-fluid">
    <th:block th:include="Common/header-navigation"></th:block>
    <div class="container-fluid aboutUsSec1">
        <div class="container">
            <p>我们的愿景<br />促进淘外市场繁荣，让商业变得更简单</p>
        </div>
    </div>
    <div class="container">
        <section>
            <div class="aboutUsSec2">
                <h1>杭州千盟网络科技有限公司，是企业级独立电商服务商</h1>
                <p>千盟秉承以“服务商家运营”为核心、以帮助客户拓展更多“销售渠道和提高运营效率 ”为主线、 以SaaS云平台为主要服务模式的运营理念，专注于电商软件的研发与创新。我们的技术团队掌握了丰富的信息处理技术及经验，包括不限于传统B/S架构，小规模集群应用，最新的企业私有云架构。</p>
                <p>千盟网络拥有了一支经验丰富的专业团队，以前瞻性的创新思维，致力于为每位客户提供行业领先的电商系统和咨询服务，千盟发展的每一个脚步都坚定而踏实，我们将和更多客户一起探索电商未来，为客户的电商运营保驾护航。</p>
                <p>千盟旗下产品微客到·微分销，已成为行业领先的微商分销领军品牌，能帮助企业快速进入移动分销时代。千盟旗下产品微客到·小程序，已为线下实体店开启互联网经商的大门，根据每个行业都不同的功能属性，助力商家更好的为客户服务。</p>
                <p>公司秉承一贯的研发超前的实用理念，并长期保持同美国硅谷等信息技术源头的信息互通，紧随世界前言技术的不断演进,更新换代了本公司的传统技术架构，采用V8系统重构分布式，无阻塞高并发实时系统,更新换代主从式数据库集群为多主机对等同步复制数据库集群。 集成最新加密算法防护数据安全，基于token,auth2的统一认证模块，及高缓的大量运用，CI&DI全程云上虚拟化，自动化，以及最先进的容器化虚拟化集群架构。 同时，公司成立专职大数据基础技术团队，对大数据的存储,流式处理及企业云有相当的技术储备。</p>
                <p>目前公司现拥有开放实验室一个，跟高校有长期的实践合作关系。</p>
            </div>
        </section>
        <section>
            <div class="aboutUsSec3">
                <h2>我们的团队</h2>
                <p>核心团队成员均来自阿里系，技术管理者更有着18年IT开发工作经验。
                    <br />
                    我们的技术团队使用更擅长高吞吐，大并发系统的最新实践全新nodejs,python等开发语言替换php,java等传统开发语言构造分布式微服务系统。
                </p>
            </div>
        </section>
    </div>
    <th:block th:include="Common/footer"></th:block>
</div>
<script src="../../js/jquery-1.9.1.min.js"></script>
<!--[if lte IE 8]>
<script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.1.min.js"></script>
<![endif]-->
<script src="../../js/comm.js"></script>
<script language="javascript" src="http://dct.zoosnet.net/JS/LsJS.aspx?siteid=DCT29742988&float=1&lng=cn"></script>
<!--弹窗-->
<script type="text/javascript" src="/js/swt.js"></script>
</body>
</html>