<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>招贤纳士</title>
    <meta name="Keywords" content="微客到"/>
    <meta name="Description" content="微客到,持续专注于为中小企业提供移动电商软件及相关增值服务产品,正式开启公司化运作,是国内较早且持续较久的电商软件及服务提供的领导品牌。"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/comm.css" />
    <link rel="stylesheet" href="../../css/jobs.css" />
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <!--[if lte IE 8]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="/js/rem.min.js"></script>
    <![endif]-->
</head>
<body onselectstart="return false">
<th:block th:include="Common/header"></th:block>
<div class="container-fluid">
        <th:block th:include="Common/header-navigation"></th:block>
        <div class="container">
            <section>
                <div class="container">
                    <section>
                        <div class="jobOffersSec1">
                            <h1>招贤纳士</h1>
                            <p>正能量、快、专注、极致、拥抱变化，团队将永远在最求卓越的道路上前进。</p>
                            <p>千盟科技期待您的加入！</p>
                            <p>简历投递邮箱：<a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="2e1c1e1d1a1c1f1f1d171f6e5f5f004d4143">[email&#160;protected]</a></p>
                        </div>
                    </section>
                    <div class="jobOffersSec2">
                        <div class="jobOffersItem">
                            <div class="jobOffersItem_header">
                                NodeJS开发工程师
                            </div>
                            <div class="jobOffersItem_body">
                                <h4>岗位职责</h4>
                                <ol>
                                    <li>参与公司产品等核心模块的开发；</li>
                                    <li>配合业务主管进行技术决策，进行技术风险评估，参与系统架构分析设计；</li>
                                    <li>参与产品平台相关业务分析、设计及原型实现，与团队成员协作完成产品研发。</li>
                                </ol>
                                <h4>任职要求</h4>
                                <ol>
                                    <li>有NodeJs开发经验，熟悉常用框架；</li>
                                    <li>具有很好的代码编写能力和良好的代码编程习惯；</li>
                                    <li>具备强烈的进取心、求知欲及团队合作精神，有较强的沟通及协调能力；</li>
                                    <li>熟练掌握HTML、JavaScript、CSS、XML、AJAX等知识，擅长用户行为分析等web2.0关键技术者优先。</li>
                                </ol>
                            </div>
                        </div>
                        <div class="jobOffersItem">
                            <div class="jobOffersItem_header">
                                前端开发工程师
                            </div>
                            <div class="jobOffersItem_body">
                                <h4>岗位职责</h4>
                                <ol>
                                    <li>负责维护和改进公司自己的前端框架；</li>
                                    <li>负责公司各产品的前端实现；</li>
                                    <li>参与项目需求讨论，提供交互和行业建议。 </li>
                                </ol>
                                <h4>任职要求</h4>
                                <ol>
                                    <li>对 web 标准有深刻的理解，能够产出优雅的前端代码，深爱前端事业，具备移动端开发经验优先；</li>
                                    <li>我们不找 JS 达人，但要求你一定要对 HTML，CSS 和 JS 都有了解；</li>
                                    <li>能够产出符合交互，视觉定义，各主流浏览器表现，行为一致的前端页面；</li>
                                    <li>能够和后端 PHP 同学配合，对常见的模板有所了解；</li>
                                    <li>具备宽泛的前端视野，对流行的新技术，前端发展趋势有所了解。</li>
                                </ol>
                            </div>
                        </div>
                        <div class="jobOffersItem">
                            <div class="jobOffersItem_header">
                                C++开发工程师
                            </div>
                            <div class="jobOffersItem_body">
                                <h4>岗位职责</h4>
                                <ol>
                                    <li>精通C/C++编程语言，熟悉QT应用开发框架，熟悉Visual Studio/QtCreator相关开发工具，具备基本的软件调试技能，拥有1年以上相关开发经验；</li>
                                    <li>了解基本软件开发流程，具有良好的编程习惯和代码规范，理解面向对象思想；</li>
                                    <li>具有良好的表达、沟通和学习能力，工作细致认真，具有强烈的责任心和团队合作精神。 </li>
                                </ol>
                                <h4>任职要求</h4>
                                <ol>
                                    <li>对 web 标准有深刻的理解，能够产出优雅的前端代码，深爱前端事业，具备移动端开发经验优先；</li>
                                    <li>我们不找 JS 达人，但要求你一定要对 HTML，CSS 和 JS 都有了解；</li>
                                    <li>能够产出符合交互，视觉定义，各主流浏览器表现，行为一致的前端页面；</li>
                                    <li>能够和后端 PHP 同学配合，对常见的模板有所了解；</li>
                                    <li>具备宽泛的前端视野，对流行的新技术，前端发展趋势有所了解。</li>
                                </ol>
                            </div>
                        </div>
                        <div class="jobOffersItem">
                            <div class="jobOffersItem_header">
                                渠道经理
                            </div>
                            <div class="jobOffersItem_body">
                                <h4>岗位职责</h4>
                                <ol>
                                    <li>负责千盟科技渠道业务的对外合作拓展与运营执行；</li>
                                    <li>基于业务形态，制定合作伙伴运营模式、培训支持；</li>
                                    <li>维系与合作伙伴的良好关系，确保良好运营。</li>
                                </ol>
                                <h4>任职要求</h4>
                                <ol>
                                    <li>有至少1年以上的渠道拓展经验，有成功的业务拓展经验者优先；</li>
                                    <li>丰富的互联网资源，优秀的商务拓展能力；</li>
                                    <li>良好的团队意识与敬业精神，积极主动、务实干练、能承受较大的工作压力；能出差接洽考察；</li>
                                    <li>熟悉渠道业务，能培训渠道业务。</li>
                                </ol>
                            </div>
                        </div>
                        <div class="jobOffersItem">
                            <div class="jobOffersItem_header">
                                销售代表
                            </div>
                            <div class="jobOffersItem_body">
                                <h4>岗位职责</h4>
                                <ol>
                                    <li>建立和维护客户的良好关系；</li>
                                    <li>根据公司及部门相关销售政策，向客户介绍公司的产品及服务，负责签订合同、定时回款及后续客服工作；</li>
                                    <li>利用丰富的销售经验，挖掘需求，达成客户合作；</li>
                                    <li>协调统筹公司的各类资源，为客户提供专业化服务；</li>
                                    <li>按照公司的目标，完成业绩考核；</li>
                                    <li>较强的开拓挖掘客户的能力。</li>
                                </ol>
                                <h4>任职要求</h4>
                                <ol>
                                    <li>大专以上学历；</li>
                                    <li>具备良好的职业素养，形象气质佳，表达能力清晰；</li>
                                    <li>一年上客户销售经验；</li>
                                    <li>具备机会分析判断、把握能力，情绪稳定，抗压能力；</li>
                                    <li>具备团队协作精神，沟通能力和良好的人际关系；</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container-fluid jobOffersSec3">
                    <div class="container">
                        <p>个人简历发送到：<a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="5b696b686f696a6a68626a1b2a2a75383436">[email&#160;protected]</a></p>
                        <p>联 系 人：吴先生</p>
                        <p>联系电话：13346157195</p>
                        <p>公司地址：杭州市余杭区仓前街道文一西路1324号利尔达物联网产业园6号楼1905室</p>
                    </div>
                </div>
            </section>
        </div>
        <th:block th:include="Common/footer"></th:block>
    </div>
    <script src="../../js/jquery-1.9.1.min.js"></script>
    <!--[if lte IE 8]>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.1.min.js"></script>
    <![endif]-->
    <script src="../../js/comm.js"></script>
    <script language="javascript" src="http://dct.zoosnet.net/JS/LsJS.aspx?siteid=DCT29742988&float=1&lng=cn"></script>
    <!--弹窗-->
    <script type="text/javascript" src="/js/swt.js"></script>
</body>
</html>